nav {
	margin: 27px auto 0;

	position: relative;
	width: 710px;
	height: 50px;
	text-shadow: 2px 2px 4px #000000;
	background-color: #206d99; 
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 180px;
}
a:nth-child(2) {
	width: 185px;
}
a:nth-child(3) {
	width: 160px;
}
a:nth-child(4) {
	width: 180px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 180px;
	left: 0;
	background-color: #e74c3c;

}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 185x;
	left: 185px;
	background-color: #1abc9c;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 190px;
	left: 350px;
	background-color: #3498db;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 170px;
	left: 540px;
	background-color: #9b59b6;
}


body {
	font-size: 12px;
	font-family: sans-serif;
	background: #bee6e5;
}
h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 40px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

p {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: #ecf0f1;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Cherry Swash',cursive;
    font-size: 20px;
}

span {
    color: #2BD6B4;
}